#name {
    background-color: #4aaaa5;
    color: white;
    width: 20%;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;

}

#header1 {
    background-color: white; 
    border-bottom: solid #dddddd;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 20px;
    
   
}



#nav {
    float: right;
    margin-right: 80px;
    list-style-type: none;
    position: absolute;
    left: 60%;
    margin-left: 5px;
    word-spacing: 20px;
    

}

li {
    display: inline;
}




body{
    
    width: 1090px;
    padding-bottom: 0px;
    background-color: pink;
   
}


#left{
    background-color: white;
    width: 650px;
    margin-left: 70px;
    padding-bottom: 15px;


}


#ceci{
    float: left;
}

#right {
    background-color: white;
    width: 270px;
    position: absolute;
    top: 102px;
    right: 50px;
    text-align: center;
    height: 150px;

}

h2 {
    color: #4aaaa5;
    border-bottom: solid #dddddd;
}

p, #nav, #form{ 
    line-height: 1.6;
    color: #777777;
    font-family: Helvetica Neue; 
}

#about{
    color: #4aaaa5;
    border-bottom: solid #dddddd;
    padding: 25px;
    font-family: Times New Roman;
}


#footer1 {
  background-color: #666666;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-top: 10px solid #4aaaa5;
  text-align: center;
  color: white;
  
  

}

html, body{
    margin: 0;
    
}

#form {
    word-spacing: 30px;
    margin-left: 20px;
}

#rpggame, #widget{
    margin-left: 25px;
}

.imageContainer {
    width:200px; 
    height:200px; 
    background-image: url(assets/images/hangman.jpg);
}







